In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/Taskmaster Contestant Ranking - up to series 20.csv")

In [8]:
# Quick check
df.head()

# list all 202 columns
df.columns.tolist()

['Unnamed: 0',
 'Series',
 'Contestant',
 'Points Per Task',
 'Total Points',
 'Total Tasks',
 'Total Tasks Judged Out Of 5',
 'Points Per Task (Adjusted for Double Tasks & Rabbit/Laminator/Balloon Pop Tasks/Hot Dog)',
 'Points Per Task (Prorated for Winner Takes All Tasks)',
 'Percentage of Total Points Won',
 'Percentage of Total Points Won Out Of "Technically Available"',
 'Total Episodes',
 'Total Points In Series',
 'Average Total Points Per Episode In Series',
 'Average Total Points Per Task In Series',
 'Average Total Points Per Task Judged Out Of Five (IE, Counting Double Tasks As 2 Tasks) In Series',
 'Total Points Technically Available In Series',
 'Total Prize Task Points',
 'Prize Task Points Per Ep',
 '% of Points From Prize Tasks',
 'Subjective Task Points',
 'Subjective Tasks',
 'Percentage of subjective tasks in show',
 'Subjective Task Average Score',
 'Subjective Points Not Including Prize Tasks',
 '% of Points From Subjective Tasks',
 'Objective Task Points',
 'Objective Tasks',
 'Objective Task Average Score',
 '% of points from objective tasks',
 'Fastest Wins Tasks',
 'Points from "Fastest Wins" Tasks',
 'Points Per Fastest Wins Task',
 'Fastest Wins Task Wins',
 'Difference Between Subjective and Objective Task Scores',
 'Average Point Total Excluding Live Tasks',
 'Average Point Total Excluding Prize Tasks',
 'Average Point Total Excluding Prize Tasks (Adjusted for Double Tasks)',
 'Difference between Prize Task And Average',
 'Total Live Task Points',
 'Live Task Points Per Ep',
 'Live Task Wins (Solo)',
 'Live Solo Tasks',
 'Percentage of Live Tasks Won',
 '% of points from Live Tasks',
 '% of points from studio tasks (prize and live)',
 'Total Studio Points',
 'Points Scored In Studio Per Episode',
 'Difference between Live Task And Average',
 'Team of 2 or Team of 3',
 'Total Team Points',
 'Total Team Tasks',
 'Total Solo Tasks',
 'Team Tasks Per Episode',
 'Points Tally Without Team Tasks',
 'Points Tally With Team Tasks Switched',
 'Points Per Team Task',
 'Team Task Rating (Team Task Score Vs Individual Score)',
 'Average Point Total Excluding Team Tasks',
 'Average Point Total Excluding Prize Tasks AND Team Tasks',
 'Average Point Total Excluding Prize Tasks AND Live Tasks',
 'Average Point Total Excluding Prize, Live AND Team Tasks',
 'Solo Filmed Task Points',
 'Solo Filmed Tasks',
 'Points Per Solo Filmed Task',
 'Total Bonus Points',
 'Score Without Bonus Points',
 'Points Per Task (Without Bonus Points)',
 'Bonus Points Per Ep',
 'Total DQ, Zero or Minus Pts',
 'Total "Winner Takes All" Tasks (individual)',
 'Total "Winner Takes All" Tasks (team)',
 'Total DQ or Zero Points (not including WTA)',
 'Score if disqualification = one minus point',
 'Total Number of DQ/0 Pts In Entire Series',
 '% of tasks ending in DQ/0 Points',
 '% of tasks ending in DQ/0 Pts In Entire Series',
 '% of tasks ending in DQ/0 Pts (not including WTA)',
 'Total Episode Wins',
 '% of Episodes Won',
 'Highest Episode Score',
 'Lowest Episode Score',
 'Range In Episode Scores',
 'Points Per Solo Task',
 'Points Per Solo Task (Adjusted For Double Tasks)',
 'Difference between Solo Task and Average*',
 'Total (Solo) Task Wins',
 '% of Solo Task Won',
 'Total Last Places (DQ, 0 or 1 Pt) In Solo Task',
 'Total Last Places (DQ, 0 or 1 Pt) In Solo Task (not wta)',
 '% of Last Place In Solo Task',
 'Ratio of Last Place to Wins',
 'Combined First and Last Place Finishes',
 'Combined % of Times Contestant Came First Or Last (Solo Tasks)',
 'Show Harshness Rating',
 'Score Weighted By SHR (Show Harshness Rating)',
 'Gender',
 'Points Per Subjective Task Per Series',
 'Total Subjective Points in Series',
 'Predicted Total Subjective Points In Series',
 'Greg Harshness Rating',
 'Subjective Score Weighted by GHR (Greg Harshness Rating',
 'Total Score Weighted By GHR (Greg Harshness Rating)',
 'Total Points (Reworked for ONLY a total of 15 Points Awarded Per Task)',
 'Reworked Points Per Task',
 'Date of birth',
 'Star sign',
 'First ep of series broadcast date',
 'Age at first show broadcast date in days',
 'Age at first show broadcast date',
 'Average age in series',
 "Greg's age in at series",
 "Greg's age in series in years",
 'How much older is Greg than contestant?',
 "Difference between Greg's age and average age",
 'Age Order In Series (Oldest = 5, Youngest 1)',
 'Difference Between Oldest and Youngest In Cast',
 'Seat Position',
 'University Degree',
 'Footlights?',
 'Birth Country',
 'Birth place',
 'Distance From Coast (miles)',
 'Height in cm',
 'Dominant Hand',
 'Number of children at time of recording',
 'Outfit',
 'Winner?',
 'Position in Series',
 'Gap Between 1st and 5th in Series',
 'Job Before Current Profession',
 'Job/Degree Kind',
 'Chinese Year',
 'Quoted In The TM Book of Quotes?',
 'Facial Hair?',
 'Hair Colour',
 'Number of Books',
 'Goodreads Score of Most Popular Book',
 'Given "help"',
 'Asked for help, refused',
 'Music Available Online',
 'Headwear worn?',
 'Comedy Award Winner?',
 'Member of the LGBTQ+ Community',
 'Veggie or Vegan?',
 'Main Outfit Colour (filmed tasks)',
 'Can they speak another language',
 'If second language, which',
 'Syllables in name',
 'Total Syllables in Names of Series',
 'Siblings',
 'Youngest/Oldest',
 'What Did Jack Know About Them Before TM',
 'Unique Name',
 'Appeared in "Ghosts"',
 'Appeared in "Inside Number 9"',
 'Appeared in "Death In Paradise"',
 'Appeared in Doctor Who',
 'Have They Run The London Marathon (or similar?)',
 'Points Scored In Studio',
 'Number of tasks in Studio',
 'Points Per Studio Task',
 'Points Scored In Study Tasks',
 'Number of tasks in Study/Hallway',
 'Points Per Study Task',
 'Points Scored In Lab',
 'Number of Tasks in Lab',
 'Points Per Lab Task',
 'Points Scored In Garden',
 'Number of tasks in Garden',
 'Points Per Garden Task',
 'Points Scored In Special Location',
 'Number of Tasks in Special Location',
 'Points Per Special Location Task',
 'Points Scored In Caravan/Biosphere/Hutch/Garage',
 'Number of Tasks In Caravan/Biosphere/Hutch/Garage',
 'Points Per Caravan/Biosphere/Hutch/Garage Task',
 'Points Scored In Whole House/Out Of House Tasks/Misc Rooms',
 'Number of Tasks Involving Whole House',
 'Points Per Whole House Task',
 'Alternate Scoring (House of Games Style) Score',
 'HoG Score Per Ep',
 'Score After Ep 1',
 'PPT Score After Ep 1',
 'Score After Ep 2',
 'PPT Score After Ep 2',
 'Score After Ep 3',
 'PPT Score After Ep 3',
 'Score After Ep 4',
 'PPT Score After Ep 4',
 'Score After Ep 5',
 'PPT Score After Ep 5',
 'Score After Ep 6',
 'PPT Score After Ep 6',
 'Score After Ep 7',
 'PPT Score After Ep 7',
 'Score After Ep 8',
 'PPT Score After Ep 8',
 'Score After Ep 9',
 'PPT Score After Ep 9',
 'Score After Ep 10',
 'PPT Score After Ep 10']

In [19]:
# Select which columns are staying in the model - keep it SIMPLE.
# The aim is to predict contestantsâ€™ final series performance using only first-episode results 
# (keeping in 2nd episode results for later workings)
columns_to_keep = ["Series",
    "Contestant",
    "Score After Ep 1",
    "PPT Score After Ep 1",
    "Score After Ep 2",
    "PPT Score After Ep 2",
    "Percentage of Total Points Won"]

df_model = df[columns_to_keep].copy()

df_model.head()

,Series,Contestant,Score After Ep 1,PPT Score After Ep 1,Score After Ep 2,PPT Score After Ep 2,Percentage of Total Points Won
0,1,Frank Skinner,19,3.8,28,2.8,21.33%
1,1,Josh Widdicombe,13,2.6,29,2.9,21.56%
2,1,Roisin Conaty,7,1.4,28,2.8,15.60%
3,1,Romesh Ranganathan,19,3.8,33,3.3,21.33%
4,1,Tim Key,17,3.4,35,3.5,20.18%

In [20]:
# rename columns to work better in code
df_model = df_model.rename(columns={
    "Score After Ep 1": "score_ep1",
    "PPT Score After Ep 1": "ppt_ep1",
    "Score After Ep 2": "score_ep2",
    "PPT Score After Ep 2": "ppt_ep2",
    "Percentage of Total Points Won": "final_pct_points"})

df_model.head()

,Series,Contestant,score_ep1,ppt_ep1,score_ep2,ppt_ep2,final_pct_points
0,1,Frank Skinner,19,3.8,28,2.8,21.33%
1,1,Josh Widdicombe,13,2.6,29,2.9,21.56%
2,1,Roisin Conaty,7,1.4,28,2.8,15.60%
3,1,Romesh Ranganathan,19,3.8,33,3.3,21.33%
4,1,Tim Key,17,3.4,35,3.5,20.18%

In [21]:
# Basic data checks for nulls and data types
df_model.info()

df_model.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series            100 non-null    int64
 1   Contestant        100 non-null    object
 2   score_ep1         100 non-null    int64
 3   ppt_ep1           100 non-null    float64
 4   score_ep2         100 non-null    int64
 5   ppt_ep2           100 non-null    float64
 6   final_pct_points  100 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 5.6+ KB

Series              0
Contestant          0
score_ep1           0
ppt_ep1             0
score_ep2           0
ppt_ep2             0
final_pct_points    0
dtype: int64

In [22]:
# The final_pct_points column is in 'object' (string) format because of the % sign.
# Convert the string to numeric proportions 0-1

df_model["final_pct_points"] = (df_model["final_pct_points"].str.replace("%", "", regex=False).astype(float)/ 100)

df_model.head()

,Series,Contestant,score_ep1,ppt_ep1,score_ep2,ppt_ep2,final_pct_points
0,1,Frank Skinner,19,3.8,28,2.8,0.2133
1,1,Josh Widdicombe,13,2.6,29,2.9,0.2156
2,1,Roisin Conaty,7,1.4,28,2.8,0.1560
3,1,Romesh Ranganathan,19,3.8,33,3.3,0.2133
4,1,Tim Key,17,3.4,35,3.5,0.2018

In [23]:
df_model.to_csv('../data/processed/cleaned_data.csv', index=False)
print("Prepared data set saved to data/processed/cleaned_data.csv'")

Prepared data set saved to data/processed/cleaned_data.csv'